@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

.content {

    margin: auto;
    margin-top: 80px;
    max-width: 100px;
    padding: 80px 120px 100px 80px;
    display: flex;
    text-align: left;
    border: 5px solid gray;
    border-radius: 25px;
    font-size: 22px;

}